<div>
<h1>User info</h1>
<% if @user.profile_image.attached? %>
<p><%= image_tag @user.get_profile_image(100,100) %></p>
<% else %>
    <%= image_tag 'no_image', size: "100x100" %>
<% end %>
<th>name<%= @user.name %></th>
<th>introduction<%= @user.introduction %></th>
</div>

<!-- ユーザーの投稿一覧 -->

